.dealerForm.module-full-container .Container.WFULL .wrapper {position: relative;}
.dealerForm.module-full-container .Container.WFULL .wrapper .container .left {background-color: #1F272D;width:37%;height: 100%;padding:58px 44px 20px 70px;position: fixed;left: 0px;top: 0px;bottom: 0px;}
/* Css dosaysı  */